<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sample</title>
  <link rel="stylesheet" href="%% url_for('static',filename='css/header.css') %%">
  <link rel="stylesheet" href="%% url_for('static',filename='css/general.css') %%">
  <link href="https://fonts.googleapis.com/css?family=Reem+Kufi" rel="stylesheet">
</head>


<body>
    <header class="menu-header">
        <div class="menu-wrapper disable-select">
        
        <a href="/" class="menu-logo">Tom's Company</a>
    

        <div id="menu-main" onclick="myFunction()">
            <span class="menu-main-button mobile"><i></i><i></i><i></i></span>
            <nav class="menu-nav menu-main-nav">
                <div class="menu-nav-container">
                    <ul class="menu-list">
                        <li class="menu-list-item"><a href="#play" class="menu-list-anchor">Play</a></li>
                        <li class="menu-list-item"><a href="#about-us" class="menu-list-anchor">About</a></li>
                    </ul>
                </div>
            </nav>
            <a href="/browse" class="menu-cta">Browse Contestants</a>
        </div>

        <hr class="fallback">
        </div>
    </header>
    <div id="content">
        <div class="main-hero">
            
            <div class="main-hero-overlay">
            <div class="main-hero-panel">
                <div class="main-hero-panel-main">
                <h1 class="main-hero-panel-title h2">Load your </h1>
                <p class="main-hero-panel-cta">
                    
                <div v-for="contestant in data.contestants" class="temp">
                    <div>Sender: {{ contestant.photo }}</div>
                    <div>Recipient: {{ contestant.name }}</div>
                    <div>Amount: {{ contestant.tribe }}</div>
                </div>
                </div>
        
                <p class="main-hero-panel-usps">
                </p>
            </div>
            </div>
        </div>
        <div class="container">
        <div class="section">
        <div class="content-text">

        </div>
        </div>
        </div>
        </div>
        
    </div>
    
    <script src="%% url_for('static',filename='js/helper.js') %%""></script>
</body>